/xilinx/Vitis/*
/xilinx/Vivado/*
/xilinx/DocNav/*
/xilinx/Model_Composer/*
/xilinx/xic/*
/xilinx/Vitis/2019.2/data/emulation/*
!/xilinx/Vivado/2019.2/settings64.sh
!/xilinx/Vitis/2019.2/.settings64-Vitis.sh
!/xilinx/Vivado/2019.2/.settings64-Vivado.sh
!/xilinx/DocNav/.settings64-DocNav.sh
!/xilinx/Vitis/2019.2/bin
!/xilinx/Model_Composer/2019.2/.settings64-Model_Composer.sh
!/xilinx/Vivado/2019.2/include/*
.dockerignore
